---
/**
 * Author: Eduardo Porto Morales
 * 
 * Description:
 * This is a sandbox component to test everything in the application.
 **/

 import Button from './Button.astro';
---

<div class="flex flex-col items-center justify-center h-screen bg-gray-100">
	<main class="flex flex-col items-center gap-20">
		<section>

            <Button variant="filled" color="primary" disabled>Lleno</Button>
            <Button variant="border" color="primary">Contorno</Button>
            <Button variant="empty" color="primary">Vacio</Button>
            
        
            <Button variant="filled" color="warning">Rojo</Button>
            <Button variant="filled" color="primary">Azul 1</Button>
            <Button variant="filled" color="secondary">Azul 2</Button>
            <Button variant="filled" color="success">Verde</Button>
        
        
            <Button variant="filled" color="primary" size="small">Pequeño</Button>
            <Button variant="filled" color="primary" size="medium">Mediano</Button>
            <Button variant="filled" color="primary" size="big">Grande</Button>
            <Button variant="filled" color="primary" size="custom" customSizeClass="w-[200px] h-[50px] text-base">Personalizado</Button>
        
            <Button>hola</Button>
                <Button
            variant="filled"
            color="warning"
            size="big"
            class="btn-jose"
            >
            Para Jose
            </Button>
        
        
            <script is:browser>
            document.querySelector('.btn-jose')?.addEventListener('click', () => {
            alert('Hola Jose!');
            });
            </script>
        
            <a href="https://www.youtube.com/watch?v=EyWFkkuLciU">
                <Button variant="filled" color="primary">Vegetita</Button>
            </a>
        </section>
	</main>
</div>